 
{% load static%}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F6DDCC " style="color:black;">
  <a style="color:black;" class="navbar-brand" href="/home">Awwards</a>
  <button style="background-color: black" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color:black;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <div class="col-sm-4 col-md-4 navbar-right">
      <form class="navbar-form" role="search" action="{% url 'search_project' %}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Project" name="project">
          <div class="input-group-btn">

          </div>
        </div>
      </form>
    </div>

    <ul style="margin-right:50px;" class="navbar-nav ml-auto" style="color:black;">
      <li class="nav-item">
        <a style="color:black;" href="/admin" class="nav-link">My Admin</a>
      </li>
      <li class="nav-item dropdown show">
        <a style="color:black;" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          APIs
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a href="{%url 'profiles'%}" class="dropdown-item">Users API</a>
          <a href="{%url 'projects'%}" class="dropdown-item">Projects API</a>
        </div>
      </li>


      {% if user.is_authenticated %}
      <li class="nav-item">
        <a style="color:black;" class="nav-link" href="{%url 'new_project'%}">Submit Project</a>
      </li>
      <li class="nav-item">
        <a style="color:black;" class="nav-link" href="{%url 'logout'%}">Logout</a>
      </li>
      <li class="nav-item">
        {%if user.profile.profile_photo%}
        <div class="float-right pic">
          <a href="/profile" ><img class="rounded-circle" src="{{user.profile.profile_photo.url}}"
            style="height:70px;width: 70px;" alt="">
          <strong style="font-size:19px;">{{current_user.username | title}}</strong>
          </a> 
          
        </div>
        {%else%}

        <a href="/profile" class="fa fa-user fa-3x float-right pic" style="margin-top:1%"><span
            style="font-size:19px;">{{current_user.username | title}}</span></a>
        {%endif%}
      </li>
      {% else %}
      <li class="nav-item">
        <a style="color:black;" class="nav-link" href="/accounts/login/">Login</a>
      </li>
      {% endif %}



    </ul>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</nav>